* {
    box-sizing: border-box;
     /* this doesnt seem to do anything  */
     font-family: Helvetica, sans-serif;
}


html, body{
    margin: 0;
    padding: 0;
    background-color: #FAE8EB;
}

header {
    padding: 1rem;
    width: 100%;
    color: #BAE0C2;
    background-color: #987284;
    border-bottom: 0.5rem solid #231F20;
}

h1 {
    width: 60%; /* kind of clumsy fix */
    position: relative;
    left: 5rem;
}

#below-header {
    display: inline-flex;
    width: 100%;
}

form#search-bar {
    float: right;
    position: relative;
    right: 18rem;
}

button#new-img-btn {
    position: relative;
    left: 18rem;
}

#thumbnail-tab {
    width: 200px;
    color: #BAE0C2;
    background-color: #987284;
    height: calc(100vh - 5.5rem);
    overflow-y: auto;
    margin: auto;
    border-right: 0.5rem solid #231F20;
}

#thumbnail-tab div {
    text-align: center;
}

#thumbnail-tab div img {
    padding: 1rem;
    margin: auto;
}

#right-side {
    flex: 1;
    text-align: center;
}

#navigation {
    text-align: left;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #987284;
}

#main-artwork {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* #likes-and-comments {
    display: inline-flex;
} */

#likes {
    display: inline-flex;
    position: relative;
    right: 18rem
}

#num-likes {
    padding-left: 0.5rem;
    font-size: 16pt;
}