* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: #BAE0C2;
}

header {
    padding: 1rem;
    width: 100vw;
    color: #BAE0C2;
    background-color: #660714;
}

#below-header {
    display: inline-flex;
}

h1 {
    width: 60vw; /* kind of clumsy fix */
    position: relative;
    left: 5rem;
}

#thumbnail-tab {
    width: 20%;
    color: #BAE0C2;
    background-color: #660714;
    height: calc(100vh - 5rem);
}

#right-side {
    float: right;
    width: 80%;
}

form#search-bar {
    float: right;
    position: relative;
    right: 3rem;
}


/* #main-artwork {
    width: 80%;
} */