* {
    box-sizing: border-box;
     /* this doesnt seem to do anything  */
}


html, body{
    margin: 0;
    padding: 0;
    background-color: #FAE8EB;
}

header {
    padding: 1rem;
    width: 100%;
    color: #BAE0C2;
    background-color: #987284;
    border-bottom: 0.5rem solid #231F20
}

#below-header {
    display: inline-flex;
}

h1 {
    width: 60vw; /* kind of clumsy fix */
    position: relative;
    left: 5rem;
}

#thumbnail-tab {
    /* width: 200px; */
    flex: 0.1;
    color: #BAE0C2;
    background-color: #987284;
    height: calc(100vh - 5.5rem);
    overflow-y: auto;
    /* display: block; */
    /* align-items: center; */
    /* flex-direction: column; */
    flex-direction: column;
    margin: auto;

}

#thumbnail-tab img {
    /* margin-left: auto;
    margin-right: auto; */
    /* display: block; */
    /* float: none; */
    padding: 1rem;
    margin: auto;
}

#right-side {
    /* float: right; */
    /* display: inline; */
    /* width: 70%; */
    flex: 0.9;
    margin: 1rem 1rem 1rem 1rem;
}

form#search-bar {
    float: right;
    position: relative;
    right: 3rem;
}


#main-artwork img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    float: none
}

/* #likes-and-comments {
    display: inline-flex;
} */

/* #likes {
    display: flex-inline;
} */

/* #num-likes {
    padding-left: 0.5rem;
    padding-top: 0.3rem;
} */